.content {
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
    }

    a {
        margin: 2rem auto;
        transition: 0.3s;

        &:hover {
            filter: brightness(0.6);
        }
    }

    button {
        color: var(--pink);
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        font-weight: 600;
        transition: 0.3s;

        &:hover {
            filter: brightness(0.7);
        }
    }
}